@{ ViewData["Title"] = "Home Page"; }

<div class="container text-center">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-md-10">
            <h1>Prototype Navigation</h1>
            <br>
            <a asp-area="" asp-controller="BookingProcess" asp-action="Index">
                <button class="button">
                    <h5>USER SIDE</h5>
                </button>
            </a>
            <a href="#.html">
                <button class="button">
                    <h5>ADMIN SIDE</h5>
                </button>
            </a>
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
</div>

