@model TrustPower_Item_Booking_Web_App.Models.Addresses

@{
    ViewData["Title"] = "Create";
}
<div class="container text-center">
    <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
            <!--
    <h1>Address Details</h1>
    <h5>Please enter the address of your event.</h5>-->
            <h1>Step 2: Address Details</h1>
            <h5>Please enter the address of your event.</h5>

            <br /><br />
            <div class="row">
                <form method="post" id="addressForm" asp-controller="Addresses" asp-action="Create">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <input type="text" placeholder="Street Name" asp-for="StreetName" id="StreetName" class="form-control" required autocomplete="off" maxlength="50"/>
                            <span asp-validation-for="StreetName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <input type="text" placeholder="Suburb" asp-for="Suburb" id="Suburb" class="form-control" required autocomplete="off" maxlength="50"/>
                            <span asp-validation-for="Suburb" class="text-danger"></span>
                        </div>
                        <div class="form-group col-9">
                            <input type="text" placeholder="City" asp-for="City" id="City" class="form-control" required autocomplete="off" maxlength="100" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3">
                            <input type="number" placeholder="Postcode" asp-for="PostCode" id="PostCode" class="form-control" required autocomplete="off" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="4"/>
                            <span asp-validation-for="PostCode" class="text-danger"></span>
                        </div>
                        <div class="col-6 text-right pt-4">
                            <a asp-action="Index" class="button a-button">
                                BACK
                            </a>
                        </div>
                        <div class="form-group col-6 text-left pt-4">
                            <input type="submit" value="Next" class="button input-button">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-3 col-md-3"></div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

    </div>
</div>