h1,h5,h4,p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1,h5 {
  margin: 0;
}

h1{
  font-weight: bold;
  font-size: 26px;
  color: #363c3e;
  line-height: 24px;
}

h2{
  font-weight: normal;
  font-size: 20px;
  color: #852ba8;
  line-height: 24px;
}

h3{
  font-weight: normal;
  font-size: 18px;
  color: #000000;
}

p1{
  font-weight: normal;
  color: #852ba8;
  text-align: left!important;
}

body {
  margin-top: 70px;
  margin-bottom: 70px;
  background: url(./images/background.png);
}

.container{
  max-width: 800px;
  background-color: #ffffff;
  height: 50em!important;
}

.footer-btn{
  max-width: 800px;
  height: 0em!important;
}

textarea {
  resize: none;
}

.card-header {
  background-color: #ffffff00;
}

.card, .card-header  {
  border: 0px solid;
  border-radius: none;
}

tbody {
  background-color: #454f5e;
  color: #ffffff;
  font-weight: normal;
}

th {
  font-weight: normal;
}

td {
  font-size: 22px;
}

tr {
  border-bottom: 2px solid #4f5b6d;
}

a,a:hover,a:active,a:visited {
  color: inherit;
  text-decoration: inherit;
}

.figure-img{
  padding-right: 10em;
}

@media only screen and (max-width: 1700px) {
  .figure-img{
    display: none;
  }
}

.custom-select {
  color: #852ba8;
  border: 1px solid #ffffff;
}

.modal{
  background-color: #ffffff94;
}

.list-new-item {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}

/* Exit or Home Page */
.popover{
  max-width: 100%!important;
  width: 30em!important;
}

.popover-title .close{
  position: relative;
}

.popover-space{
  padding-top: 8px;
}

/* All btn */
.btn, .btn-group {
  width:100%;
  border-color: #ffffff00;
}

/* Navigation btn */
.btn-nav {
  color: #262626;
  background-color: transparent;
  border: 1px solid #c7c7c7;
  border-radius: 0rem;
  font-size: 18px;
  padding: 14px;
}

/* Booking btn */
.btn-booking:link, .btn-booking:visited, .btn-booking:active {
  border: 1px solid #852ba8!important;
  background-color: #852ba8!important;
  border-radius: 20px!important;
  padding: 12px!important;
}

.btn-booking:hover {
  border: 1px solid #7f29a2!important;
  background-color: #7f29a2!important;
}

/* Deny btn (main) */
.btn-trust, .btn-trust:link, .btn-trust:visited, .btn-trust:active{
  background-color: #721ba4!important;
  color: #fff!important;
}

.btn-trust:hover{
  border: 1px solid #7f29a2!important;
  background-color: #7f29a2!important;
}

/* Approve btn */
.btn-trustdark, .btn-trustdark:link, .btn-trustdark:visited, .btn-trustdark:active{
  background-color: #292c30!important;
  color: #fff!important;
}

.btn-trustdark:hover{
  border: 1px solid #040404!important;
  background-color: #040404!important;
}

/* Cancel btn  */
.btn-trustgray, .btn-trustdark:link, .btn-trustdark:visited, .btn-trustdark:active{
  background-color: #6c757d!important;
  color: #fff!important;
}

.btn-trustgray:hover{
  border: 1px solid #545b62!important;
  background-color: #545b62!important;
}

/* Exit btn */
.btn-exit, .btn-exit:link, .btn-exit:visited, .btn-exit:active{
  background-color:#545b62!important;
  color: #fff!important;
  border-radius: 0px!important;
}

.btn-exit:hover{
  border: 1px solid #545b62!important;
  background-color: #545b62!important;
  border-radius: 0px!important;
}
