@{
    ViewData["Title"] = "Hire Details";
    Layout = "../Shared/_AdminLayout.cshtml";
}

    <img src="~/images/logo.png" class="figure-img img-fluid float-right">
    <div class="container text-center h-100">

        <div class="row justify-content-center">

            <div class="btn-group" role="group" aria-label="btn">
                <a type="button" asp-controller="AdminProcess" asp-action="ApplicantDetails" class="btn btn-secondary btn-nav">Applicant Details</a>
                <a type="button" asp-controller="AdminProcess" asp-action="EventDetails" class="btn btn-secondary btn-nav">Event Details</a>
                <a type="button" asp-controller="AdminProcess" asp-action="HireDetails" class="btn btn-secondary btn-nav active">Hire Details</a>
                <a type="button" asp-controller="AdminProcess" asp-action="ApproveOrDeny" class="btn btn-secondary btn-nav">Approve/Deny</a>
            </div>

            <div class="col-sm-11">
                <br>
                <h1 class="align-middle">Event Details</h1>
                <br><br><br>



                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <h2>Date of Event(s)</h2>
                        <ul class="list-group list-group-flush list-new-item">
                            <li class="list-group-item">Marquee 5m x 10mm<br> M1</li>
                            <li class="list-group-item">Marquee 6M x 8m<br> M2</li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <div>
                            <h2>Party Hire setup/pack down requested?</h2>
                            <h3>Yes</h3>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="float-right">
                            <h2>Date of Event(s)</h2>
                            <h3>6th Mar</h3>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="float-left">
                            <h2>Date of Event(s)</h2>
                            <h3>8th Mar</h3>
                        </div>
                    </div>


                </div>


                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <!-- <button type="button" class="btn btn-primary">Cancel</button> -->
    </div>

